.po_items_ho {
    column-width: 40em;
    -moz-column-width: 40em;
    -webkit-column-width: 40em;
    column-gap: 4rem;
    -moz-column-gap: 4rem;
    -webkit-column-gap: 4rem;
}

.po_row{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 6px;
}
.po_item {
    display: inline-block;
    min-width: 400px;
    text-align: center;
    position: relative;
    background: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    transition: 0.3s ease;
    font-size: 0;
}

.po_img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    filter: brightness(50%);
}

.po_item .content {
    position: absolute;
    height: 0;
    width: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--overlay-color);
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    height: 100%;
    width: 100%;
    transition: 0.3s ease-in-out;
    opacity: 0;
    border: 1px solid black;
}

.po_item .content {
    opacity: 0;
    transition-delay: 1s;
    transition: 0.3s ease;
    font-size: 20px;
}

.po_item:hover {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
}

.po_item:hover .content {
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    opacity: 1;
}

.po_item:hover .content {
    opacity: 1;
    color: var(--secondary-color);
}

.po_item .content a {
    width: 70%;
    height: 70px;
}

.po_item .content a:hover {
    text-decoration: none;
}
.po_desc{
    width: auto;
    min-width: 400px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    padding: 20px 6px;
    border: 1px solid var(--secondary-color);
}